@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}



#app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/terran-1.jpg);
  /* background: url(../img/terran-1.jpg) no-repeat; */
  background-repeat: no-repeat;
  height: 89vh;
  background-size: cover;
}

#left {
  & div {
    cursor: pointer;
  }
}

#GK,
#DC1,
#DC2,
#LB,
#RB,
#CM,
#CMD,
#CAM,
#RW,
#LW,
#ST {

  & img:hover {
    background-color: rgba(239, 68, 68, 0.404);
    border-radius: 20px;
    box-shadow: 1px 2px 40px 1px rgb(239 68 68);
  }
}

#right {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.4em;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(239 68 68);

}

@media(width < 950px) {

  #app {
    flex-direction: column;
  }

  #right {
    width: 100% !important;
    flex-direction: row;

  }

  #carts {
    flex-direction: row;
  }

  #players_pop_up {
    overflow: auto;
    height: 300px;
  }
}